@media all and (max-width: 1100px) {
    .about-wrapper {
        height: 1300px;
    }
}

@media all and (max-width: 768px) {
    /* header part */
    .header-logo h1{
        font-size: 20px;
        margin-right: 30px;
    }

    .header-menus a{
        visibility: collapse;
    }

    .circle-to-box {
        width: 150px;
        height: 150px;
    }
    
    /* top part*/
    .top-wrapper {
        height: 700px;
    }

    .img-top {
        width: 100px;
        height: 150px;
    }
    .left-side h3{
        font-size: 25px;
    }
    .left-side h1 {
        font-size: 20px;
    }

    .left-side p{
        font-size: 15px;
    }

    .right-side {
        grid-template-columns: 150px 100px;
        grid-template-rows: 75px 100px ;
        padding-top: 150px
    }

    .box1 .font1{
        font-size:20px;
    }
    .box1 .font2{
        font-size:20px;
    }
    .box1 .font3{
        font-size:20px;
    }
    .box2 .font4{
        font-size:20px;
    }
    .box2 .font5{
        font-size:20px;
    }
    .box2 .font6{
        font-size:20px;
    }
    .box3 .font7{
        font-size:20px;
    }
    .box4 .font8{
        font-size:15px;
    }

    /* about content */
    
    .about-wrapper {
        height: 700px;
    }

    .footer-container {
        max-width: 50%;
    }

    .about-box-container {
        grid-template-columns: 100px 100px 100px 100px;
        grid-template-rows: 100px 100px 100px;
    }

    .about-box h3{
        font-size: 10px;
    }
    
    .about-box p {
        display: none;
    }
}

@media all and (min-width: 319px) and (max-width: 727px) {
    body {
        height: auto;
    }

    /* top content part */
    .container {
        flex-direction: column;
    }

    .left-side h3{
        font-size: 20px;
    }

    .left-side h1{
        font-size: 15px;
    }

    .left-side p{
        font-size: 10px;
    }

    .right-side {
        padding: 0;
    }

    /* header part */
    .fixedblackline {
        height: 50px;
    }

    .header-nav {
        height: 50px;
    }

    .ball-label {
        height: 10px;
    }

    .ball-label .ball{
        top: 0;
        height: 18px;
        width: 18px;
    }

    .placeholder:checked + .ball-label .ball {
        transform: translateX(29px);
    }

    .header-logo h1{
        font-size: 8px;
    }

    .circle-to-box {
        width: 100px;
        height: 100px;
    }

    #test:checked + .circle-to-box {
        width: 300px;
    }

    .fa-bars {
        top: 25px;
        left: 50px;
    }
    .navbar {
        width: 300px;
    }
    .menus {
        width: 300px;
    }

    /* about wrapper part */
    .about-wrapper {
        height: 750px;
    }

    .about-wrapper h2 {
        font-size: 30px;
    }

    .about-box-container {
        display: flex;
        flex-direction: column-reverse;
    }

    .about-box {
        text-align: center;
    }
    .about-box span {
        font-size: 10px;
    }

    .about-box .fa {
        padding: 5px;
    }

    /* portfolio part */
    .section-title h2 {
        font-size: 30px;
    }

    /* contact wrapper part */
    .contact-container{
        text-align: center;
    }

    .contact-container {
        padding: 0;
        grid-template-columns: auto auto;
        grid-row: auto auto;
    }

    .contact-container h2 {
        font-size: 30px;
    }

    .info-user h3{
        padding-left: 10px;
        padding-top: 15px;
        font-size: 15px;
    }


    /* footer part */ 
    .footer-container {
        display: block;
        margin-left: 100px;
        padding-top: 35px;
        text-align: center;
        height: auto;
    }

    .footer-left {
        margin: 0;
        font-size: 10px;
    }

    
    .footer-middle .box-icon {
        margin: 0;
    }

    .footer-middle .box-icon ul{
        display: flex;
        justify-content: center;
        font-size: 10px;
    }

    .footer-middle .box-icon ul .round {
        margin: 0 5px;
        padding: 0;
    }

    .footer-right {
        display: none;
    }
}

@media all and (min-width: 319px) and (max-width: 424px) {
    .contact-container {
        padding: 0;
        grid-template-columns: 150px 150px;
        grid-row: 100px 100px;
    }
}