.top-wrapper {
    position: relative;
    background: var(--main-theme);
    max-width: 100%;
    height: 1000px;
    color: var(--fontColor);
}
/* top container */
.container {
    position: absolute;
    width: 70%;
    margin: 15%;
    display: flex;
}

.img-top {
    padding: 10px;
    width: 200x;
    height: 200px;
    border: 1px solid var(--borderColor);
}

.left-side {
    text-align: center;
    border-right: 1px solid var(--borderColor);
}

.left-side h3 {
    font-size: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.left-side h1 {
    font-size: 60px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.left-side p {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.right-side {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto ;
    text-align: center;
}

/* font styling */

.box1 {
    border-right: 1px solid var(--borderColor);
    border-bottom: 1px solid var(--borderColor);
}

.box1 .font1 {
    font-family: Limelight, cursive;
    font-size: 40px;
}

.box1 .font2 {
    font-family: Lobster, cursive;
    font-size: 40px;
}

.box1 .font3 {
    font-family: "Sigmar One", cursive;
    font-size: 40px;
}

.box2 .font4 {
    font-family: Limelight, cursive;
    font-size: 40px;
}

.box2 .font5 {
    font-family: Courgette, cursive;
    font-size: 40px;
}

.box2 .font6 {
    font-family: Satisfy, cursive;
    font-size: 40px;
}

.box3 .font7{
    font-family: Caveat, cursive;
    font-size: 40px;
}

.box4 {
    border-left: 1px solid var(--borderColor);
    border-top: 1px solid var(--borderColor);
}

.box4 .font8 {
    font-family: "Rock Salt", cursive;
    font-size: 40px;
}
